# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [2]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [11]:
s ='hello'
# Reverse the string using slicing
print(s[4] )

print(s[4:5])

o
o

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [12]:
s ='hello'
# Print out the 'o'
print(s[4] )
# Method 1:

o

In [13]:
# Method 2:
print(s[4:5])

o

## Lists

Build this list [0,0,0] two separate ways.

In [16]:
# Method 1:
list= [0,0,0] 
list

[0, 0, 0]

In [21]:
# Method 2:
my_list= [0] 
my_list= my_list*3
my_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [22]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]= "goodbye" 
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [47]:
list4 = [5,3,4,6,1] 
set1= set(list4)
print(set1 )
#or By sorting way 

list4.sort()
print(list4)

{1, 3, 4, 5, 6}
[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [28]:
d = {'simple_key':'hello'}
# Grab 'hello'
d["simple_key"]

'hello'

In [29]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d["k1"]["k2"]

'hello'

In [34]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d["k1"][0]["nest_key"][1]

#Grab hello

['hello']

In [36]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello

In [39]:
d["k1"][2]["k2"][1]["tough"][2]

['hello']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [42]:
planet = "Earth"
diameter = 12742
text= "the diameter of {} is {} kilometer"
print(text.format(planet,diameter))

the diameter of Earth is 12742 kilometer

** Given this nested list, use indexing to grab the word "hello" **

In [44]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [46]:
lst[3][1][2]

['hello']

** Given this nested dictionary grab the word "hello". **

In [49]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [51]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

### Write a Python program to swap two variables.

In [ ]:
x= int(input("please enter the first number " ) )
y= int(input("please enter the second number"))
xcopy= x.copy 
x = y 
y=

## Thanks